body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.header {
  display: block;
  width: 100%;
  height: 64px;
  background:rgba(25, 103, 192, 0.8);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.btn {
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius:  0;
  background: #ccc;
  cursor: pointer;
  transition: background .3s;
}

.btn:hover {
  background: rgb(161, 160, 160);
}

.board {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid #ccc;
}
.letter {
  position: relative;
}

.letter p {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
  background: #ccc;
  user-select: none;
  transition: background .3s;
}

.letter.selected p {
  background: rgb(165, 165, 165);
}

.letter::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
